extends includes/header
block content
    div.col-md-4
        div.panel.panel-default
            div.panel-heading
                i.fa.fa-genderless.fa-fw
                | &nbsp;Agendapunten
            ul.list-group
                li.list-group-item.text-overflow Agendapunt Titel Die Soms Nog Wel Een Erg Lang Kan Blijken
                    div.collapse
                        p HEUL VEUL TEKST HEUL VEUL TEKST HEUL VEUL TEKST HEUL VEUL TEKST
                        a.btn.btn-default
                            i.fa.fa-calendar.fa-fw
                li.list-group-item Agenda Titel
                    p.collapse HEUL VEUL TEKST HEUL VEUL TEKST HEUL VEUL TEKST HEUL VEUL TEKST
                li.list-group-item Agenda Titel
                    p.collapse HEUL VEUL TEKST HEUL VEUL TEKST HEUL VEUL TEKST HEUL VEUL TEKST
    div.col-md-4
        div.panel.panel-default
            div.panel-heading
                i.fa.fa-inbox.fa-fw
                | &nbsp;Actiepunten
    div.col-md-4
        div.panel.panel-default
            div.panel-heading
                i.fa.fa-inbox.fa-fw
                | &nbsp;Notulen
