extends ../includes/header
block content
	div.panel.panel-default
		div.panel-heading
			i.fa.fa-desktop
			| &nbsp;Dashboard
		div.panel-body
			div.col-md-3
				select.form-control(name="resolved")
					option(value="0") openstaand
					option(value="1") afgehandeld
					option(value="2") alles
			div.col-md-3
				select.form-control(name="user")
					option(value="0") eigen
					option(value="1") iedereen
		hr(style="margin-top:0")
		div.panel-body
			div#test

	script(type="html/template")#agendaitem_template
		div.col-md-4
			div.panel.panel-primary
				div.panel-heading
					i.fa.fa-genderless
					| &nbsp;{{AgendaTitle}}
				div.panel-body {{AgendaDescription}}
				hr
				ul.list-group(data-id="{{AgendaId}}")
					li.list-group-item Actiepunten
				div.panel-body

	script(type="html/template")#actionpoint_template
		li.list-group-item.clearfix.actionpoint {{ActionTitle}}
			span.pull-right
				button.btn.btn-default.btn-xs(data-id="{{ActionId}}", data-resolved="{{ActionResolved}}")
					i.fa
	- var jsfiles = ["users/dashboard.js"];
