extends ../includes/header
block content
	div#test

	script(type="html/template")#agendaitem_template
		div.col-md-4
			div.panel.panel-primary
				div.panel-heading
					i.fa.fa-genderless
					| &nbsp;{{AgendaTitle}}
				div.panel-body {{AgendaDescription}}
				hr
				ul.list-group(data-id="{{AgendaId}}")
					li.list-group-item Actiepunten
				div.panel-footer.clearfix
					button.btn.btn-default.pull-right(data-id="{{AgendaId}}")
						i.fa.fa-check-circle
						| &nbsp;Afboeken

	script(type="html/template")#actionpoint_template
		li.list-group-item.list-group-item-danger.clearfix {{ActionTitle}}
			span.pull-right
				button.btn.btn-default.btn-xs(data-id="{{ActionId}}", data-resolved="{[ActionResolved}}")
					i.fa.fa-check-circle
	- var jsfiles = ["users/dashboard.js"];
